<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders | Gelato Creameries®</title>
    <link rel="stylesheet" href="../public/css/style-order.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.2/axios.min.js" defer></script>
    <script src="../public/js/script-order.js" defer></script>
</head>
<body>
    <div>
        <a href="./index-home.html" id="a-heading"><h1 id='heading'>Gelato Creameries®</h1></a>
    </div>
    <div class='navigation-bar'>
        <span>
            <div id='nav-center'>
                <a href='./index-home.html' id='a-home'><span id='nav-home'>HOME</span></a>
                <a href='./index-store.html' id='a-store'><span id='nav-store'>STORE</span></a>
                <a href='./index-about.html' id='a-about'><span id='nav-about'>ABOUT</span></a>
            </div>
        </span>
        <span>
            <div id="nav-cart" class="tooltip">
                <img src="../public/images/store/cart-icon.png" alt="cart">
                <div class="tooltiptext">GO BACK TO STORE</div>
            </div>
        </span>
        <span>
            <div id="div-order">
                <a href='./index-order.html' id='a-order'><span id='nav-order'>ORDERS</span></a>
            </div>
        </span>
    </div>

    <div class='info'>
        <div class='info-flyer'>
            <h2 id="i-head">YOUR ORDERS</h2>
            <div id="i-products">
                <ul id="ul-products">
                    
                </ul>
            </div>
            <div class="page-numbers">
                <!-- PAGE NUMBERS GO HERE -->
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-links">
            <a href='./index-home.html' id="f-1"><span>OUR SECRET</span></a>
            <a href='./index-home.html' id="f-2"><span>FEEDBACK</span></a>
            <a href='./index-about.html' id="f-3"><span>CAREER</span></a>
            <a href='./index-about.html' id="f-4"><span>COMPANY</span></a>
        </div>
        <hr>
        <div class="footer-end">
            <span id="f-e-1">© 2022 All Rights Reserved, Gelato Creameries®</span>
            <span>
                <div id="f-e-2">
                    <ul>
                        <li id="insta">
                            <a href="">
                                <img src="../public/images/insta-icon.png" alt="instagram">
                            </a>
                        </li>
                        <li id="tweet">
                            <a href="">
                                <img src="../public/images/tweet-icon.png" alt="twitter">
                            </a>
                        </li>
                        <li id="fb">
                            <a href="">
                                <img src="../public/images/fb-icon.png" alt="facebook">
                            </a>
                        </li>
                        <li id="yt">
                            <a href="">
                                <img src="../public/images/yt-icon.png" alt="youtube">
                            </a>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>
</body>
</html>
