@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Titillium+Web:wght@300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

#a-heading {
    text-decoration: none;
}

#heading {
    color: #C15B78;
    text-align: center;
    padding: 19px 19px 27px 19px;
    height: 45px;
    border: 1px dashed rgba(0, 0, 0, 0.555);
    margin: auto;
    background-color: #FBE7C6;
    border-radius: 3px;
    font-family: 'Caveat', sans-serif;
    font-weight: 400;
    font-size: 51px;
    cursor: pointer;
    text-transform: capitalize;
}

.navigation-bar {
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 35px;
    border: 1px solid #C15B78;
    background-color: #C15B78;
    color: #FBE7C6;

    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-center {
    text-align: center;
}

#nav-home, #nav-store, #nav-about {
    margin: auto;
    padding: 8px;
    border: 1px dashed #FBE7C6;
    cursor: pointer;
}

#nav-store, #nav-about {
    margin-left: 20px;
}

#nav-home:hover, #nav-about:hover{
    /*color:rgba(0, 0, 0, 0.555);
    background-color: wheat;*/
    background-color: rgba(0, 0, 0, 0.455);
}

#nav-store {
    color:rgba(0, 0, 0, 0.555);
    background-color: #FBE7C6;
    border: 1px dashed rgba(0, 0, 0, 0.555);
    box-shadow: rgba(52, 55, 65, 0.37) 0px 15px 15px 0px, rgba(52, 55, 65, 0.42) 0px 4px 8px 0px;
}

#a-store {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.555);
}

#a-home, #a-about {
    text-decoration: none;
    color: #FBE7C6;
}

#nav-cart {
    float: right;
    border: 1px dashed #C15B78;
    margin-top: -35px;
    display: block;
    padding: 3px;
    background-color: #FBE7C6;
    border-radius: 0px;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.7s ease-in-out;
}

#nav-cart:hover {
    background-color: #f0dab7;
}

#nav-cart img {
    height: 40px;
    width: 40px;
}

#nav-cart.active {
    transform: translateX(-45ch);
    transition: transform 0.7s ease-in-out;
    background-color: #dbc7b8;
    border-color: black;
    box-shadow: rgba(52, 55, 65, 0.37) 0px 15px 15px 0px, rgba(52, 55, 65, 0.42) 0px 4px 8px 0px;
}

#cart {
    color: black;
    background-color: #E4D4C8;
    border: 1px dashed black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40ch;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out;
    z-index: 2;
}

#cart.active {
    transform: translateX(0);
    box-shadow: rgba(52, 55, 65, 0.37) 0px 15px 15px 0px, rgba(52, 55, 65, 0.42) 0px 4px 8px 0px;
}

#cart h2 {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    border-bottom: 1px dashed black;
}

.cart-sub-heading {
    display: flex;
    padding-bottom: 40px;
    margin-bottom: -50px;
    /* border-bottom: 1px dashed black; */
    position: relative;
}

.cart-sub-heading ul {
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    text-align: end;
    margin-top: 45px;
    margin-left: 25px;
}

.cart-sub-heading li {
    display: inline-block;
    font-size: larger;
    border: 1px dashed black;
    padding: 5px;
    position: absolute;
    bottom: 23px;
}

.cart-sub-heading li:nth-child(1) {
    left: 0;
    width: 100px;
    text-align: center;
}

.cart-sub-heading li:nth-child(2) {
    left: 155px;
    width: 70px;
    text-align: center;
}

.cart-sub-heading li:nth-child(3) {
    right: 0;
}

/* #empty {
    text-align: center;
    margin-top: 50px;
    color: #E4D4C8;
    background-color: rgba(112, 128, 144, 0.778);
    border: 1px dashed #E4D4C8;
    padding: 20px;
    font-weight: 700;
}

.clear {
    display: none; 
} */

/* .cart-items img {
    width: 90px;
    height: 90px;
    border-radius: 6px;
    object-fit: cover;
} */

.cart-row {
    margin-top: 50px;
    display: flex;
    flex-grow: 1;
    border-top: 1px dashed black;
    padding-bottom: 10px;
}

.cart-column {
    align-items: center;
    margin-top: 10px;
    margin-right: 1.5em;
    padding-bottom: 10px;
}

.cart-item {
    width: 45%;
}

.cart-quantity {
    margin-left: 50px;
    text-transform: lowercase;
}

.cart-quantity input {
    background-color: #E4D4C8;
    font-size: 16px;
}

.cart-quantity input:focus {
    outline: none;
}

.cart-id {
    display: none;
    visibility: hidden;
}

.cart-remove {
    position: relative;
    margin-bottom: 50px;
}

.cart-remove button {
    position: absolute;
    color: #E4D4C8;
    border: 1px solid rgb(212, 73, 78);
    background-color: rgb(212, 73, 78);
    border-radius: 3px;
    bottom: -88px;
    right: 130px;
    padding: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

#total {
    margin-top: 50px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding-top: 25px;
    padding-bottom: 25px;
}

#rupee {
    margin-left: 190px;
    float: right;
}

#purchase {
    margin-top: 50px;
    margin-left: 13px;
    border: 1px dashed #E4D4C8;
    background-color: #18A558;
    color: #E4D4C8;
    border-radius: 3px;
    height: 40px;
    width: 330px;
    padding: 5px;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}

#purchase:hover {
    background-color: #128f4b;
    transition: all .6s ease;
}

.notification-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
}

#notification-item-name {
    font-weight: 700;
}

#notification {
    padding: 2rem;
    background-color: #E4D4C8;
    border: 1px dashed black;
    border-radius: 3px;
}

.info {
    border-top: 10px dashed #FBE7C6;
    display: flex;
}

.info-flyer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 40px 40px 40px;
    border-bottom: 10px dashed white;
    background-color: rgb(112, 86, 151);
    height: 2200px;
    width: 2000px;
}

.info .info-flyer img {
    object-fit: cover;
}

#i-head {
    margin-top: -1030px;
    font-size: 41px;
    font-weight: 900;
    color: #FBE7C6;
    border-bottom: 1px dashed #FBE7C6;
    position: absolute;
}

#i-products {
    margin-top: -1400px;
    position: relative;
}

.hide-li {
    display: none;
    visibility: hidden;
}

#i-products li {
    list-style-type: none;
    display: inline;
    padding: 18px;
    margin: 8px;
}

#i-products header {
    position: absolute;
    top: -15px;
    color: #C15B78;
    background-color: #FBE7C6;
    border: 1px solid #FBE7C6;
    font-size: 15px;
    font-weight: 700;
    padding: 8px;
}

#i-products div {
    height: 500px;
    border: 1px dashed #FBE7C6;
}

#i-products li:first-child {
    position: absolute;
    top: -230px;
    left: -590px;
    width: fit-content;
}

#i-products li:nth-child(2) {
    position: absolute;
    top: -230px;
    left: -160px;
    width: fit-content;
}

#i-products li:nth-child(3) {
    position: absolute;
    top: -230px;
    left: 270px;
    width: fit-content;
}

#i-products li:nth-child(4) {
    position: absolute;
    top: 400px;
    left: -590px;
    width: fit-content;
}

#i-products li:nth-child(5) {
    position: absolute;
    top: 400px;
    left: -160px;
    width: fit-content;
}

#i-products li:nth-child(6) {
    position: absolute;
    top: 400px;
    left: 270px;
    width: fit-content;
}

#i-products li:nth-child(7) {
    position: absolute;
    top: 1030px;
    left: -590px;
    width: fit-content;
}

#i-products li:nth-child(8) {
    position: absolute;
    top: 1030px;
    left: -160px;
    width: fit-content;
}

#i-products li:nth-child(9) {
    position: absolute;
    top: 1030px;
    left: 270px;
    width: fit-content;
}

#i-products img {
    height: 500px;
    width: 280px;
    cursor: pointer;
}

#i-products img:hover {
    box-shadow: 0 0 32px 1px #FBE7C6;
}

#i-products span {
    border-bottom: 1px solid #FBE7C6;
    color: #FBE7C6;
}

#i-products button {
    font-weight: 900;
    height: 40px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    color: #FBE7C6;
    background-color: rgb(112, 86, 151);
    border: 1px dashed #FBE7C6;
    float: right;
}

#i-products button:hover {
    /* color: rgb(112, 86, 151);
    background-color: #FBE7C6;
    border-radius: 3px; */
    box-shadow: 0 0 15px 1px #FBE7C6;
}

#description {
    display: none;
    visibility: hidden;
}

#product-id {
    display: none;
    visibility: hidden;
}

.popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.popup-container.active-popup {
    display: flex;
}

.popup {
    background-color: #E4D4C8;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    position: relative;
    width: 500px;
}

#close {
    background-color: #E4D4C8;
    border: 1px  solid #E4D4C8;
    color: rgb(181, 155, 134);
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.page-numbers {
    position: absolute;
    margin-top: 1025px;
}

.page-numbers button {
    width: 30px;
    height: 30px;
    flex-grow: 1;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.555);
    font-size: medium;
    font-weight: 900;
}

.page-numbers button:hover {
    background-color: #FBE7C6;
    border: 1px solid #FBE7C6;
}

.page-numbers button.active {
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid rgba(0, 0, 0, 0.555);
    color: white;
    font-size: x-large;
    width: 45px;
    height: 45px;
}

.footer {
    background-color: #C15B78;
    height: 200px;
}

.footer-links {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links a {
    text-decoration: none;
    color: #FBE7C6;
    border-bottom: 1px dashed #FBE7C6;
}

.footer-links a:hover {
    color: white;
    border-bottom: 1px dashed white;
}

#f-2, #f-3, #f-4 {
    margin-left: 20px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.555);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 28px;
    margin-left: 200px;
    height: 5px;
    width: 1000px;
}

.footer-end {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

#f-e-1 {
    margin-left: 200px;
    color: rgba(0, 0, 0, 0.555);
    text-transform: capitalize;
}

#f-e-2 {
    position: absolute;
    right: 220px;
    margin-top: -23px;
    align-items: center;
}

#f-e-2 ul {
    flex-grow: 1;
    text-align: end;
}

#f-e-2 img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

#f-e-2 a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
}

#tweet img, #fb img, #yt img {
    height: 30px;
    width: 30px;
}

#f-e-2 li {
    list-style-type: none;
    float: left;
}

#f-e-2 li a {
    display: block;
    padding: 8px;
  }
